body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.main {
    background-image: url(images/donation12.png);
    background-repeat: no-repeat;
    background-size: 100%
}

#maindiv h1 {
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    font-size: 50px;
}

#maindiv p {
    text-align: center;
    color: aliceblue;
    font-size: 20px;

}

#maindiv {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 20%;
    color: aliceblue;
}


#maindiv a {
    text-decoration: none;
    color: aliceblue;
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}


.mid01 {
    text-align: center;
    padding-top: 3%;

}

.mid01 h1 {

    font-weight: bolder;
    font-size: 40px;
}

.mid01 p {
    font-size: 20px;
    color: grey;
    font-weight: lighter;
}

.mid02 {
    text-align: center;


}

.mid02 li {


    display: inline-block;
    margin: 15px 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    padding: 25px 15px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: grey;



}

.donnow {
    text-align: center;
}

.donnow span {
    color: grey;
}

.donnow hr {
    width: 27%;

}

#Dn {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.pack {
    margin-top: 5%;
}

.pack h1 {
    text-align: center;
    font-size: 40px;

}

.pack p {
    text-align: center;
    font-size: 20px;
    color: grey;
}

.categories {
    display: flex;


}

.FSE {

    width: 80%;
    background-color: antiquewhite;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2% 2%;
    border-radius: 7px;
    text-align: left;
}

.FSE p {
    text-align: left;
    color: black;
}

.FSE h2 {
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.one {
    background-color: rgb(219, 220, 245);
}

.two {
    background-color: rgb(250, 233, 155);
}

.three {
    background-color: rgb(190, 241, 248);
}


.who {
    display: flex;
    width: 100%;
    margin-left: 15%;


}

.who h1 {
    font-size: 40px;
    font-weight: bolder;

}

.who p {
    font-size: 20px;
    margin-top: -30px;
}

.who span {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.who img {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    margin-left: 5%;
}

.updates {
    text-align: center;
    margin-top: 5%;

}

.updates h1 {
    font-size: 40px;

}

.updates p {
    font-size: 20px;
    margin-bottom: 2%;
}

.emails {
    text-align: center;

}

.emails li {
    display: inline-block;

    background-color: grey;



}

#li01 {
    padding: 15px;
    margin: -15px;
    border-radius: 5px;
}



.emails input {
    background-color: grey;
    border-left: gray;
    border-right: grey;
    border-bottom: grey;
    border-top: grey;

}

#li02 {
    background-color: tomato;
    padding: 15px;
    color: aliceblue;
    font-weight: bolder;
    border-radius: 5px;
}

.foot {
    text-align: center;
    background-color: black;
    margin-top: 5%;
}

.footer {
    color: aliceblue;
    padding-top: 3%;
    padding-bottom: 5%;
}

#E {
    font-weight: bold;
    font-size: 25PX;
    color: tomato;
}

#F {
    font-weight: bold;
    font-size: 25PX;
    color: grey;
}